table, tr, td{
    border: 1px solid black;
}

tr, td{
    width: 20px;
    height: 20px;
}

.alive{
    background-color: red;
}

#x{
    width: 30px;
    margin-left: 40px;
    margin-top:20px;
}

#y{
    width: 30px;
    margin-left: 40px;
}

#drawBoard{
    margin-left: 40px;
}
